
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

/* Bootstrap default font-family is Helvetica Neue */
h1 {
  font-family: "Times New Roman", Times, serif;
  text-shadow: 3px 3px 1px black;
  
}
p { 
  color: #319781;
}
h3 {
  color: #783baa;
}
td{
  color: #9e152c;
}
body{
  color: #0e3a11;
}
button{
  color: #12232b;
}